<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <title>Document</title>
</head>

<body>
    <section></section>
    <div class="login-form">
        <img src="/img/logo.png" class="logo-img" alt="bcckorea-logo">
        <form>
            <input type="text" name="email" class="text-field" placeholder="USER NAME">
            <input type="password" name="password" class="text-field" placeholder="PASSWORD">
            <input type="submit" value="로그인" class="submit-btn">
        </form>

        <label><input type="checkbox" name="auto-login" id="auto-login" placeholder="자동로그인">자동로그인</label>




        <div class="new-pw">
            <a href="#">Forgot your password?</a>
            <a href="#" id="create">Create an account</a>
        </div>
    </div>
    </section>
    <div class="btn-area"> </div>
</body>
</body>

</html>